# Django настройки
SECRET_KEY=c6r(6itgmz&4cx2(s=e+xr91oh(oj94-!h_nb(%v&n_s%o^-7e
DEBUG=False
ALLOWED_HOSTS=ggame-production.up.railway.app
DATABASE_URL=postgresql://...

# Telegram Bot
TELEGRAM_BOT_TOKEN=8567389465:AAGf6VKykyl6REaiDz-Vqu2QTacQbvURS7k
TELEGRAM_WEBHOOK_URL=https://ggame-production.up.railway.app

# Frontend
FRONTEND_URL=https://ggame.vercel.app

# CORS
CORS_ALLOWED_ORIGINS=https://ggame.vercel.app